body {
    margin: 0px;
    padding: 0px;
}

/** Start Bio Styles **/

.bio-container {
    margin: 10px;
}

.bio-container:after {
    content: "";
    display: block;
    clear: both;
}

.bio-image {
    width: 49%;
    float: left;
    border-radius: 10%;
    box-shadow: 4px 2px 10px 0px;
}

.bio-text {
    width: 49%;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 0px;
    margin-right: 5px;
    float: right;
}

.bio-text:after {
    content: "";
    display: block;
    clear: both;
}

.bio-image2 {
    float: right;
    width: 50%;
    height: 50%;
    margin-top: 15px;
    border: 2px solid #800000;
    border-radius: 100%;
    transform: rotate(-30deg);
}

iframe {
    float: left;
    margin-top: 15px;
    width: 49%;
    box-shadow: 2px 2px 5px 0px;
}

.important-text {
    color: red;
    text-decoration: underline;
}

/** End Bio Styles **/

/** Start Info Styles **/

.info-container {
    width: 100%;
    padding: 5px;
    border: 2px solid #800000;
}

.info-container:after {
    content: "";
    display: block;
    clear: both;
}

.info-section {
    float: left;
    padding: 0px 2px;
    width: 32%;
    height: 150px;
    background: #aaaaaa;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    margin-top: 0px;
}

.name {
    font-family: 'Cabin', sans-serif;
    color: #800000;
    text-align: center;
}

.information {
    text-align: center;
    margin-top: -0px;
}

/** End Info Styles **/