body {
    margin: 0px;
    padding: 0px;
}


/** Start Form Styles **/
.form-container {
    width: 50%;
    margin: 25px auto 0px;
    background: #e8b90c;
}
/** End Form Styles **/


/** Start Google Map Styles **/
.map-container {
    padding: 10px;
    width: 75%;
    margin: 10px auto 10px;
    border: 2px solid #e8b90c;
    background: #800000;
}
/** End Google Map Styles **/