body {
    margin: 0;
    padding: 0;
}
/** Start Header Styles **/
.main-header {
    margin: 0;
    width: 100%;
    height: 150px;
    background: #800000;
}

.main-header:after {
    content: "";
    display: block;
    clear: both;
}

.logo {
    height: 150px;
    margin: 0;
    border: none;
}

.header-image {
    float: right;
    height: 200px;
    margin: 0;
    border: none;
}
/** End Header Styles **/

/** Start Nav Styles **/
.main-nav {
    margin-top: 5px;
    padding: 10px 10px 10px 0px;
    height: 100%;
    width: 200px;
    border: 1px solid #800000;
    background: #e8b90c;
    float: left;
}

.nav-list {
    list-style: none;
    margin: auto 0;
    float: right;
}

.nav-item {
    width: 100%;
    padding: 10px 5px 10px 10px;
    margin: 0;
    float: right;
}

.nav-link {
    float: right;
    text-decoration: none;
    color: #800000;
    font-family: 'Cabin', sans-serif;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:active {
    color: #FF0D0D;
}
/** End Nav Styles **/

/** Start Hero Styles **/
.hero-background {
    background-image: url('../images/banyan.jpg');
    background-size: cover;
    background-position: center center;
    margin-left: 10px;
    float: left;
}
/** End Hero Styles **/